.table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 5px;
}

.tbody {
  background-color: white;
}

/* .tr {} */

.th {
  padding: 1rem 1.2rem;
  text-align: left;
  width: 30%;
  background-color: #f8f8f8;
}
@media print, screen and (max-width: 680px) {
  .th {
    padding: 0.6rem 0.8rem;
  }
}

.td {
  padding: 1rem 1.2rem;
}
@media print, screen and (max-width: 680px) {
  .td {
    padding: 0.6rem 0.8rem;
  }
}
