.title {
  font-weight: bold;
  text-align: center;
  font-size: 2.2rem;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 8px;
  margin-bottom: 3rem;
}

.flowList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 70px;
}
@media (max-width: 640px) {
  .flowList {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
